/* === Colors === */
$primary-color: #ff1414;
$secondary-color: #221f1f;
$text-color: #111222;

/* === Typography === */
$font-size-biggest: 2.8rem;
$font-size-largest: 2.3rem;
$font-size-large: 1.4rem;
$font-size-base: 1rem;
$font-size-small: .9rem;
$font-size-smallest: .75rem;
$title-font: 'Roboto Slab', serif;
$content-font: 'Arial', sans-serif;

/* === spacing === */
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem;

/* === Media queries === */
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;