.cards {

    display: flex;
    flex-wrap: wrap;

    &__card {

        flex: 100%;
        border-radius: 10px;
        padding: 10px;
        margin: 5px auto;
        text-align: center;
        color: white;
        background-color: $secondary-color;

        @media (min-width: $tablet) {
            flex: 45%;
            max-width: 45%;
        } 

        @media (min-width: $desktop) {
            flex: 32.32%;
            max-width: 32.32%;
        }

    }

}

.card__icon {
    font-size: $font-size-biggest;
    color: $primary-color;
}